<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!--link to main stylesheet-->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
			<li><a href="/">Home</a></li>
        		<li><a href="/about">About</a></li>
	        	<li><a href="/resume">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    			{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jykwoncs@gmail.com">Email</a></li>
        		<li><a href="https://github.com/junyoung-kwon"><img src="https://banner2.kisspng.com/20180514/gae/kisspng-github-logo-repository-computer-icons-5afa376c2582d9.9650908015263476281537.jpg"></a></li>
		</ul>

		</footer>
		<div class="container">
    			{{ stuff }}
		</div><!-- /.container -->
	</body>
</html>
