<!DOCTYPE html>
<html>
     	<head>
		<title>{{ page.title }}</title>
		<!--link to main stylesheet-->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    			<ul>
					<li><a href="/">Home</a></li>
        			<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
        			<li><a href="/contact_info">Contact Info</a></li>
    			</ul>
		</nav>

		<div class="container">
			{{ content }}
		</div><!-- container -->


		<footer>
    			<ul>
        			<li><a href="mailto:jykwoncs@gmail.com"><img src="https://icons-for-free.com/iconfiles/png/512/mail+icon-1320183704725127707.png" 
									     width="25px" height="25px"></a></li>
        			<li><a href="https://github.com/junyoung-kwon" target="_blank"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" 
									     width="25px" height="25px"></a></li>
			</ul>

		</footer>
	</body>
</html>
