<!DOCTYPE html>
<html>
     	<head>
		<title>{{ page.title }}</title>
		<!--link to main stylesheet-->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    			<ul>
				<li><a href="/">Home</a></li>
        			<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
        			<li><a href="/contact_info">Contact Info</a></li>
    			</ul>
		</nav>

		<div class="container">
			{{ content }}
		</div><!-- container -->


		<footer>
    			<ul>
        			<li><a href="mailto:jykwoncs@gmail.com"><img src="http://www.stickpng.com/assets/images/584856b4e0bb315b0f7675ac.png" 
									     width="25px" height="25px"</a></li>
        			<li><a href="https://github.com/junyoung-kwon" target="_blank"><img src="https://melbournechapter.net/images/github-svg.png" 
									     width="25px" height="25px"></a></li>
			</ul>

		</footer>
	</body>
</html>
